@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color-form: #8a4fff;
  --secondary-color: #b088ff;
  --accent-color: #4f1fa1;
  --background-color: #f8f5ff;
  --text-color: #333333;
  --error-color: #ff6b6b;
}

.pageContainer {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 500px;
}  

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 800px;
}


.title {
  color: var(--primary-color-form);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: grid;
  /* grid-auto-flow: column; */
  grid-auto-rows:auto;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: auto auto auto; /* Tres filas con altura automática */
  gap: 0.7rem; /* Espacio entre los elementos */
}


.fieldContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.input,
.select {
  padding: 0.75rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input:focus,
.select:focus {
  outline: none;
  border-color: var(--primary-color-form);
}

.select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%238a4fff' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 12px;
  padding-right: 2.5rem;
}

.error {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submitButton {
  background-color: var(--primary-color-form);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewButton {
  background-color: var(--primary-color-form);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 1rem;
  }

  .formContainer {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .input,
  .select,
  .submitButton {
    font-size: 0.9rem;
  }
}